In [25]:
from bokeh.plotting import figure
from bokeh.plotting import show, output_file
import pandas

In [26]:
df = pandas.read_excel("http://pythonhow.com/data/verlegenhuken.xlsx")

In [27]:
df

       Year  Month  Day  Hour  Temperature  Pressure
0      2010     10    6     3          -30      9984
1      2010     10    6     9          -28      9992
2      2010     10    6    10          -24      9987
3      2010     10    6    11          -19      9987
4      2010     10    6    12          -19      9985
...     ...    ...  ...   ...          ...       ...
33097  2014     12   30     9         -116      9896
33098  2014     12   30    12         -103      9866
33099  2014     12   30    15          -97      9826
33100  2014     12   30    18          -93      9829
33101  2014     12   30    21          -86      9804

[33102 rows x 6 columns]

In [28]:
df["Temperature"] = df["Temperature"] / 10
df["Pressure"] = df["Pressure"] / 10

In [29]:
x

0        -3.0
1        -2.8
2        -2.4
3        -1.9
4        -1.9
         ...
33097   -11.6
33098   -10.3
33099    -9.7
33100    -9.3
33101    -8.6
Name: Temperature, Length: 33102, dtype: float64

In [30]:
y

0        998.4
1        999.2
2        998.7
3        998.7
4        998.5
         ...
33097    989.6
33098    986.6
33099    982.6
33100    982.9
33101    980.4
Name: Pressure, Length: 33102, dtype: float64

In [34]:
p = figure(plot_width=500, plot_height=400, tools='pan')
p.title.text = "Temperature and Air Pressure"
p.title.text_color = "Gray"
p.title.text_font = "arial"
p.title.text_font_style = "bold"
p.xaxis.axis_label = "Temperature °C"
p.yaxis.axis_label = "Pressure hPa"
p.circle(df["Temperature"],
        df["Pressure"],
        size=0.5)
output_file("Plotting Weather Data.html")
show(p)